.backet{
    max-width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;

    .free-backet-text{
        font-weight: 600;
        font-size: 32px;
        font-family: Inter;
    }
    p {
        font-size: 14px;
        font-weight: 500;

    }
}